html {
    font-family: Arial;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
}
h2 { font-size: 3.0rem; }
p { font-size: 3.0rem; margin-bottom:1rem; }
.units { font-size: 1.2rem; }
.ds-labels{
    font-size: 1.5rem;
    vertical-align:middle;
    padding-bottom: 15px;
}
.parent {
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#temperature {
    font-size: 2rem;
}
.parent-button {
    margin-top: 1rem;
}